<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <div class="head"><app-header></app-header></div>
  <section>
    <app-nav class="nav"></app-nav>
  
<br>
<article>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
  tempor incididunt ut labore et dolore magna aliqua. Nisl vel pretium lectus 
  quam id leo in vitae turpis. Mollis nunc sed id semper. In ante metus dictum 
  at tempor commodo ullamcorper a lacus. In hac habitasse platea dictumst vestibulum 
  
  
</p>

<p>rhoncus est pellentesque elit. Donec enim diam vulputate ut. Bibendum arcu vitae
   elementum curabitur vitae nunc sed velit dignissim. 
   Purus ut faucibus pulvinar elementum integer enim neque volutpat.
    Congue eu consequat ac felis donec et odio. Adipiscing diam donec adipiscing tristique.
     Morbi tristique senectus et netus.</p>

     <img
                src="../../assets/img/spoing.jpg"
                alt="he is cool"
                height="250px"
                width="250px"
                >
          <h1>Today's Cat: Jean</h1>
          <p>3 years old</p>     
          <button>Adopt Now</button>

    </article>
  </section>
  <div class="footer"><app-footer></app-footer></div>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
